  /* Общие стили для шапки */
.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #040404;
  height: 120px;
  transition-property: box-shadow;  
  transition: all .7s ease;    
  
  top: 0;
    
  box-shadow: 0px 3px 20px rgb(255 154 0 / 70%); /* 255, 154, 0  255 89 0*/

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12%;
  box-sizing: border-box;
}

/* Блок с логотипом и текстом */
.logo-container {
    display: flex;
    align-items: center;
}

/* Квадрат */
.square {
  width: 70px;
  height: 70px;
  background-color: #FF9A00;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 98; 
  transition-property: box-shadow;
  transition: all .7s ease;
}

/* Внутренний элемент с буквой */
.letter {
  color: #ffffff;
  font-weight: bold;
  font-size: 50px;
  transition: all .85s ease;
}

/* Надпись Line */
.line-text {
  font-weight: bold;
  margin-left: 10px;
  font-size:50px; 
  color: #ffffff;
  transition: all .5s ease;
}

/* Линия, которая появляется вместо текста */
.line-magic {
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 20%;
  width: 0%;
  background-color: #fff;
  opacity: 0;

  transition: all .25s ease;
}

  /*line.style.left = `${20 - 20*lineGrowAmount}%`;
  line.style.width = `${100*lineGrowAmount}%`;
  line.style.opacity = lineGrowAmount * 1.6;*/

.line-magic.scrolled
{
  width: 100%;
  opacity: 1;
  left: 0%;
  transition: all .4s ease 0.25s;
}

.header.scrolled 
{
  height:80px;
  box-shadow: 0px 3px 20px rgb(255 255 255 / 70%);
}

.square.scrolled 
{
  transform: translate(0px, 40px) rotate(45deg);
}

.line-text.scrolled 
{
  transform: translate(0px, 40px) scale(1, 0);
  transition: all .7s ease;
}

.letter.scrolled {
  transform: rotate(-45deg);
}

/* Линия */
.line-up{
  position: absolute;
  height: 2px;
  top: 0;
    left: 0%;
    width: 100%;
  background-color: #FF9A00;
}

/*Бегущая строка*/
.marquee {
  left: 0%;
  width: 420px;
  height: 64px; 
  position: relative;
  /* overflow: hidden; */
  transition: .3s;
  
  align-items: center;
  display: flex;
}

.scroll-text {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 32px;
}


  /* Блок справа: меню и кнопка */
  .right-section {
    display: flex;
    align-items: center;
    /*gap: 20px;  промежуток между элементами */
  }

.header-href-navigation {
    color: #ffffff; /* белый цвет текста */
    text-decoration: none;
    font-weight: bold;
    font-size: 20px; 
}

/* From Uiverse.io by ernestnash */ 
.slide-btn {
 display: inline-block;
 padding: 10px 15px;
 font-size: 20px;
 font-weight: 600;
 color: #ffffff;
 border: 3px solid #FF9A00;
 cursor: pointer;
 position: relative;
 background-color: transparent;
 text-decoration: none;
 overflow: hidden;
 z-index: 1;
 font-family: inherit;
 /* min-width: 130px;*/
  width: max-content;
 /* border-radius: 0.4em; */
}

.slide-btn::before {
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: #FF9A00;
 transform: translateX(-100%);
 transition: all .15s;
 z-index: -1;
}

.slide-btn:hover::before {
 transform: translateX(0);
}

/* Общие стили */
.menu-container-pc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Стиль для навигации - горизонтально, по центру */
#header-navigation {
  align-items: center;
  display: flex;
  list-style: none;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
  z-index: 150;
}
.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #FFF;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #FFF;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}

#menu-container-mobile{
      display: none;
}

.menu-container-mobile-list {
    /* padding: 20px; */
    /* top: 80px; */
    right: 0;
    position: absolute;
    /* display: flex; */
    gap: 5px;
    padding-top: 50px;
    padding-inline: 10px;
    margin: 0;
    background: #040404;
    list-style-type: none;
    transform: translateX(+100%);
    transition: .3s;
    width: 40%;
    height: 100vh;
}
.menu-container-mobile-item {
    display: block;
    padding: 15px;
    margin: 10px;
    color: white;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
}
.menu-container-mobile-item:hover {
  background: rgba(255,255,255,.2)
}
.burger-checkbox:checked ~ .menu-container-mobile-list {
  transform: translateX(0);
}

@media screen and (min-width: 1080px) and (max-width: 1300px) {
  .header-href-navigation {
    font-size: 18px; 
  }
  .slide-btn {
    font-size: 18px; 
  }
}


@media screen and (max-width: 1080px){
  .marquee{
    display: none;
  }
}

@media screen and (max-width: 720px){
  #header-navigation{
    display: none;
  }

  #menu-container-mobile{
    display: block;
  }
}
