@font-face {
  font-family: "CustomFont"; /* Имя, которое вы будете использовать в CSS */
  src: url("signpainter_housescript.otf") format("opentype"); /* Путь к файлу шрифта */
}

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Calibri, sans-serif;
	
    background: #f0f0f0;
  }

  /* Блокировка прокрутки */
  body.no-scroll {
    overflow: hidden;
  } 

  #loader {
    display: flex;
	  position: fixed; /* фиксированное позиционирование */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; /* цвет фона */
    align-items: center;
    justify-content: center;
    z-index: 9999; /* чтобы был поверх всего */
    transition: opacity 0.5s ease;
  }

  /* Логотип или изображение на Splash Screen */
  #loader img {
    width: 50%; /* размер логотипа */
    height: auto;
    animation: pulse 1.25s infinite; /* анимация для эффекта */
	border-radius: 15px;
  }
  
    @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }

  /* Основной контент сайта скрыт по умолчанию */
  #mainContent {
    display: none;
  }

.text-holder
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-about
{
	text-align: center;
    width: 90%;
    height: auto;
    font-size: 50px;
    /* padding-inline: 20px;*/
}

.text-about.history
{
	width: 90%;
    height: auto;
    font-size: 35px;
    padding-bottom: 5px;
    padding-top: 5px;
	/*padding-inline: 20px;*/
}

@media(max-width: 720px){
.text-about{
  font-size: 35px;
}
  .text-about.history
{
  width: 90%;
    font-size: 25px;
}
}

.about-direction-ul li::marker
{
  color: #FFD595;
}

.footer {	
	position: absolute;
    background-color: #040404;
    height: auto;
    box-sizing: border-box;
    transition: all 0.1s ease;
    width: 100%;
    align-items: center;
	justify-items: center;
}

/* Пример простого скрытия/показа */
#orderFormContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 100;
}

#contact-container
{
    scroll-margin-top: 90px;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.map-container {
	width: 90%;
	margin-bottom: 20px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}


.info-block {
  position: relative;
  width: 400px;
  display: flex;
  align-items: center;
}

.info-icon{
	fill: none;
  stroke: #FF9A00;
}

.info-text{
      font-size: 20px;
}

.line-bottom{
	position: absolute;
	height: 2px;
	bottom: 0;
    left: 0%;
    width: 100%;
	background-color: #FF9A00;
}

.tint {
	position: absolute;
  display: flex;
	top: 0%;	
  height: calc(var(--vh, 1vh)* 100);
	max-height: 800px;
  overflow: hidden;
  width: 100%;
	background-color: #111111;

  transition: transform .2s ease;
  z-index: 1;
	pointer-events: none;
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
  z-index: 3; /* Содержимое выше подложки */
  padding: 0px;
  color: white;
	background: #111111;
}

.carousel-container {
  position: relative;
  z-index: 0; /* чуть выше фона */
}

.carousel {
	position: relative;
	top: 0%;
	height: calc(var(--vh, 1vh) * 100);
	max-height: 800px;
	overflow: hidden;
	width: 100%;
	background-color: transparent; /* или оставить прозрачным */
	transition: transform .2s ease;
}

/* Для слайдов */
.slides {
    display: flex;
    transition: transform 0.75s ease-in-out;
    height: 100%; /* занимает всю высоту контейнера */
}

.slide {
	min-height: 800px;
    min-width: 100%;
    height: 100%;
}

.slide img {
    width:100%;
    height:100%;
    object-fit:cover; /* сохраняет пропорции и обрезает по краям при необходимости */
}

/* Навигационные точки (если нужны поверх) */
.nav-dots {
	user-select: none; /* запретить выделение текста */
	position: absolute; /* поверх слайдов */
	bottom: 20px; /* чуть выше низа */
	left:50%;
	transform: translateX(-50%);
	display:flex;
	gap:10px;
	z-index: 2;
}

.dot {
	display:inline-block;
	width:12px;
	height:12px;
	background:#a3a3a3;
	border-radius:50%;
	cursor:pointer;
	/*transition: bg-color 0.3s;*/
}

.dot.active {
	background: #FF9A00;
}

.social-links-container
{
	/* position: relative;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center; */
    display: flex;
    padding: 30px 50px;
    color: #ffe4c4;
    justify-content: center;
}

.social-links
{
	gap: 20px;
  max-width: 1000px;
  color: #ffe4c4;
	display: flex;
}

.social-link
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 50%;
  color: inherit;
  /* cursor: pointer; */
}

/* From Uiverse.io by vinodjangid07 */ 
.card {
  /*width: fit-content; */
  /* height: fit-content; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 20px;
}

/* for all social containers*/
.socialContainer {
	width: 52px;
	height: 52px;
	background-color: rgb(44, 44, 44);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition-duration: 1s;
	border-radius: 25px;
}
/* VK */
.containerOne:hover {
  background-color: #0072b1;
  transition-duration: .1s;
}
/* TG */
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .1s;
}
/* Mail */
.containerThree:hover {
  background-color: #B39C32;
  transition-duration: .1s;
}
/* Whatsapp */
.containerFour:hover {
  background-color: #2D792E;
  transition-duration: .1s;
}
/* YouTube */
.containerFive:hover {
  background-color: #C73D3D;
  transition-duration: .1s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .1s;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#big_light_70000001059848980
{
	width: 90%;
    padding-block: 20px;
}
