html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Calibri, sans-serif;
	
    background: #f0f0f0;
  }

  /* Блокировка прокрутки */
  body.no-scroll {
    overflow: hidden;
  } 

  #loader {
    display: flex;
	  position: fixed; /* фиксированное позиционирование */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; /* цвет фона */
    align-items: center;
    justify-content: center;
    z-index: 9999; /* чтобы был поверх всего */
    transition: opacity 0.5s ease;
  }

  /* Логотип или изображение на Splash Screen */
  #loader img {
    width: 50%; /* размер логотипа */
    height: auto;
    animation: pulse 1.25s infinite; /* анимация для эффекта */
	border-radius: 15px;
  }
  
    @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }

  /* Основной контент сайта скрыт по умолчанию */
  #mainContent {
    display: none;
  }

.text-holder
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-about
{
	text-align: center;
    width: 90%;
    height: auto;
    font-size: 32px;
    /* padding-inline: 20px;*/
}

.text-about.history
{
	width: 90%;
    height: auto;
    font-size: 26px;
    padding-bottom: 5px;
    padding-top: 5px;
	/*padding-inline: 20px;*/
}

.about-direction-ul li::marker
{
  color: #FFD595;
}

.footer {	
	position: absolute;
    background-color: #040404;
    height: auto;
    box-sizing: border-box;
    transition: all 0.1s ease;
    width: 100%;
    align-items: center;
	justify-items: center;
}

/* Пример простого скрытия/показа */
#orderFormContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 100;
}

#contact-container
{
    scroll-margin-top: 90px;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.map-container {
	width: 90%;
	margin-bottom: 20px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}


.info-block {
  position: relative;
  width: 400px;
  display: flex;
  align-items: center;
}

.info-icon{
	fill: none;
  stroke: #FF9A00;
}

.info-text{
      font-size: 20px;
}

.line-bottom{
	position: absolute;
	height: 2px;
	bottom: 0;
    left: 0%;
    width: 100%;
	background-color: #FF9A00;
}

.tint {
	position: absolute;
  display: flex;
    /* top: 0%; */
    /* height: calc(var(--vh, 1vh) * 70); */
    /* max-height: 800px; */
        width: 100%;
    height: 100%;
  overflow: hidden;
  width: 100%;
    background-color: #111111;

  transition: transform .2s ease;
  z-index: 1;
	pointer-events: none;
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
  z-index: 3; /* Содержимое выше подложки */
  padding: 0px;
  color: white;
	background: #111111;
}

.social-links-container
{
	/* position: relative;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center; */
    display: flex;
    padding: 30px 0px;
    color: #ffe4c4;
    justify-content: center;
}

.social-links
{
	gap: 20px;
  max-width: 1000px;
  color: #ffe4c4;
	display: flex;
}

.social-link
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 50%;
  color: inherit;
  /* cursor: pointer; */
}

/* From Uiverse.io by vinodjangid07 */ 
.card {
  /*width: fit-content; */
  /* height: fit-content; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 20px;
}

/* for all social containers*/
.socialContainer {
	width: 52px;
	height: 52px;
	background-color: rgb(44, 44, 44);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition-duration: 1s;
	border-radius: 25px;
}

/* VK */
.containerOne:hover {
  background-color: #0072b1;
  transition-duration: .1s;
}
/* TG */
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .1s;
}
/* Mail */
.containerThree:hover {
  background-color: #B39C32;
  transition-duration: .1s;
}
/* Whatsapp */
.containerFour:hover {
  background-color: #2D792E;
  transition-duration: .1s;
}
/* YouTube */
.containerFive:hover {
  background-color: #C73D3D;
  transition-duration: .1s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .1s;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@media (max-width: 360px){
  .socialContainer {
        width: 40px;
        height: 40px;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#big_light_70000001059848980
{
	width: 90%;
    padding-block: 20px;
}

  #cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
    display: none; /* Скрыт по умолчанию */
    z-index: 100;
  }
  #cookie-banner button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }

@media(max-width: 1080px){
.text-about{
  font-size: 28px;
}
.text-about.history{
  font-size: 22px;
}
}

@media(max-width: 720px){
.text-about{
  font-size: 24px;
}
  .text-about.history
{
  font-size: 20px;
}
.info-text{
  font-size: 15px;
}
}